body {
    background-color: hsl(54, 29%, 66%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(180, 100%, 50%);
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(180, 100%, 60%);
    border: none;
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResults {
    margin: 25px;  
}

#diceImgs img {
    width: 150px;
    margin: 5px;
}

#diceImgs {
    background-color: white;
    padding: 5px;
}