body {
    background-color: hsl(0, 2%, 27%);
}

img {
    height: 200px;
}

button {
  width: 130px;
  background-color: hsl(241, 90%, 32%);
  color: antiquewhite;
  cursor: pointer;
  
}

button:hover {
    background-color: hsl(241, 90%, 42%);
}